label
{
    color: #435960;
    font-weight: bold;
}

input
{
    font-size: 1em;

    padding: .5rem;
}

button
{
    background-color: #eee;
    border-radius: 4px;

    font-size: 1rem;

    margin-top: 20px;
    padding: 1rem;
}

button:hover
{
    background-color: #cfd8dc;
}

button:disabled
{
    background-color: #eee;

    color: #ccc;
    cursor: auto;
}