h2
{
    text-align: center;
}

.heroes-menu
{
    margin: auto;
    padding: 0;

    max-width: 1000px;

    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

a
{
    background-color: #3f525c;
    border-radius: 2px;
    box-sizing: border-box;

    color: #fff;

    align-self: auto;
    display: inline-block;
    flex: 0 1 auto;
    order: 0;


    font-size: 1.2rem;

    margin: .5rem auto;
    padding: 1rem;

    text-align: center;
    text-decoration: none;

    min-width: 70px;
    width: 100%;
}

@media (min-width: 600px)
{
    a
    {
        box-sizing: content-box;
        width: 18%;
    }
}

a:hover
{
    background-color: #000;
}