.heroes
{
    list-style: none;

    margin: 0 0 2em 0;
    padding: 0;

    width: 15em;
}

input
{
    box-sizing: border-box;

    display: block;

    margin: 1rem 0;
    padding: .5rem;

    width: 100%;
}

.heroes li
{
    cursor: pointer;

    position: relative;
}

.heroes li:hover
{
    left: .1em;
}

.heroes a
{
    background: #EEE;
    border-radius: 4px;

    color: #333;
    display: block;

    margin: .5em;
    padding: .3em 0;

    text-decoration: none;

    height: 1.6em;
    width: 100%;
}

.heroes a:hover
{
    background: #e6e6e6;
    color: #2c3a41;
}

.heroes a:active
{
    background: #525252;
    color: #fafafa;
}

.heroes .badge
{
    background:#405061;
    border-radius: 4px 0 0 4px;
    color: white;

    display: inline-block;
    font-size: small;

    line-height: 1em;

    margin-right: .8em;
    padding: 0.8em 0.7em 0 0.7em;

    position: relative;
    inset: -4px auto auto -1px;

    height: 1.8em;
    min-width: 16px;

    text-align: right;
}

.add-button
{
    font-size: 1rem;

    margin-bottom: 2rem;
    padding: .5rem 1.5rem;
}

.add-button:hover
{
    background: #42545C;
    color: white;
}

button.delete
{
    background: white;
    color:  #525252;

    font-size: 1.1rem;
    padding: 1px 10px 3px 10px;

    position: absolute;
    inset: 5px auto auto 210px;
}

button.delete:hover
{
    background: #525252;
    color: white;
}