label
{
    display: block;

    font-weight: bold;
    font-size: 1.2rem;

    margin-top: 1rem;
    margin-bottom: .5rem;
}

input
{
    box-sizing: border-box;

    display: block;

    padding: .5rem;

    max-width: 600px;
    width: 100%;
}

input:focus
{
    outline: #336699 auto 1px;
}

li
{
    list-style: none;
}

.search-result li a
{
    border: thin solid gray;
    border-top: none;
    box-sizing: border-box;

    color: black;

    display: inline-block;

    padding: .5rem;

    text-decoration: none;

    max-width: 600px;
    width: 100%;
}

.search-result li a:hover
{
    background: #435A60;
    color: white;
}

ul.search-result
{
    margin-top: 0;
    padding-left: 0;
}